<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bulma Responsive Tables demo</title>
  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="css/main.min.css">
  <style type="text/css">
    h1.title, h3.subtitle {
      text-align: center;
    }
    h1.title {
      font-weight: 900;
    }
    .is-main h1.title {
      font-size: 3rem;
    }
    .is-main h3.subtitle {
      font-size: 2rem;
    }
    footer.footer .logo img {
      max-height: 30px;
      width: auto;
    }
  </style>
</head>
<body>


 
<section class="section">
  <div class="container">
    <div class="b-table">
      <div class="table-wrapper has-mobile-cards">
        <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
          <thead>
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
              
            <% users.forEach(user => { %>
          <tr>
            <td data-label="Name"><%= user.username %></td>
            <td data-label="City"><%= user.fullname %></td>
            <td data-label="City"><%= user.email %></td>
            <td class="is-actions-cell">
                <a href="/api/v1/edit/<%= user.id %>">Edit</a>
                <a href="/api/v1/delete/<%= user.id %>">Hapus</a>
            </td> 
          </tr>
          
          <% }) %>
          </tbody>
        </table><br><br><br>
        <center><a href="/play"><b>PLAY NOW</b></a></center>
        <br><br><br>
        <b>Kekurangan :<br>
            1. Username masih bisa dengan username yang sama<br>
            2. Tidak ada alert, nyoba berbagai macam alert ga bisa bisa :(
            </b>
      </div>
    </div>
  </div>
</section>
<!-- Icons below are for demo-only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

<script type="text/javascript">
  Array.from(document.querySelectorAll('th.is-sortable, button.button')).forEach(function (el) {
    el.addEventListener('click', function (e) {
      e.preventDefault();
      console.log('jfdjf')
      alert('CSS-only package for Bulma. JS not included.');
    });
  })
</script>
</body>
</html>
